/* IMPORTANT NOTE: This file is licensed only for use in providing the iCloud service,
*   or any part thereof, and is subject to the iCloud Terms and Conditions. You may not
*   port this file to another platform without Apple's written consent. */

.sc-pane .alert-pane-detail{margin:2px}.sc-pane .error-details{font-family:Monaco, Courier New;font-size:10px;overflow:auto;overflow-y:scroll;overflow-x:hidden;text-rendering:auto;width:100%;height:100%;border:none;resize:none}

