*
{
    margin : 0 ;
    padding: 0 ;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:400;
}
/*----------------------------------------------------------------------------*/
body 
{
    background      : rgb(107,109,107) url("../images/1.png") repeat-x scroll 0px 0px ;
    color           : rgb(245, 245, 245) ;
    text-align	: center ;
}
/*----------------------------------------------------------------------------*/
#wrapper 
{
    margin      : 0px auto;
    text-align  : left ;
    min-width   : 770px ;
    width       : 890px;
    text-align  : left;
    padding     : 0px 1px 0px 1px  ;
    min-height  : 622px ;
}
#header{
    height      : 170px ;
}
/*----------------------------------------------------------------------------*/
#band1
{
    margin          : 0px auto 0px auto ;
    height	: 80px ;
    border-bottom 	: 1px dashed #333333;
}
/*----------------------------------------------------------------------------*/
#band1 img
{
    margin : 6px 0px 0px 36px ;
    padding: 0px ;

}
/*----------------------------------------------------------------------------*/
#band1
{
    width : 100% ;
}
#band1 h1, #band5 h1{
    padding			: 21px ;
    text-transform                : none;
    font-weight		: normal;
    font-size 		: 26px;
    color			: #FFCD19;
}
#buttons
{
    position : absolute ;
    margin-left : 660px ;
    top     :25px;
    display : inline ;
}
#band1 h1
{
    padding-left:100px;
}
#band4
{
    height : 410px;
    border-bottom : 1px dashed #333333 ;
    margin-bottom:10px;
    margin-top:10px;
}
#band5
{
    height : 140px;
    padding-left : 20px;
    border-bottom : 1px dashed #333333 ;
}
.inLine
{
    display:inline ;
}
.message
{
    font-size : 15px ;
    color	: #333333 ;
}
.smallText
{
    font-size : 12px;
}
/*----------------------------------------------------------------------------*/
.fLeft
{
    float: left;
}
.fRight
{
    float: right;
}
.pLeft
{
    margin-left    : 2px;
}
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
.box
{
    background-color: rgb(227,227,227) ;
    background : #EEE none no-repeat scroll 0 0 ;
    width	: 25px;
    height 	: 25px;
    border  : 1px solid #999999 ;
}
#grid td
{
    border  : 1px solid #999999 ;
    cursor:pointer;
    text-align:center ;

}
#table td{
    background : #EEE none no-repeat scroll 0 0 ;
}
table, .table
{
    border  : 1px solid #999999 ;
}
/*----------------------------------------------------------------------------*/
.navigate
{
    padding : 6px 0px 6px 5px ;
}
/*----------------------------------------------------------------------------*/
.header
{
    background-color:  red ;
    padding-left : 5px;
    color : white ;
    padding: 6px 6px ;
    font-size: 13px;
}
/*----------------------------------------------------------------------------*/
.title
{
    background-color: #DBB416 ;
    font-size: 17px ;
    padding : 5px 0px 5px 8px;
}
.stretch
{
    width : 75% ;
}
.bg
{
    /* background-color: #697FFF ; */
    border : 1px solid  #333333 ;
}
.center
{
    text-align : center ;
}
.h2
{
    font-size : 16px;
}
#message1, #message2
{
    margin 		: 5px 5px 5px 90px;

}
.pad
{
    padding : 3px 10px ;
}
.padX
{
    padding : 3px 30px;
}
/*----------------------------------------------------------------------------*/
submit, .button, button 
{
    margin: 4px 0px 4px 0px ;
}
/*----------------------------------------------------------------------------*/
.button
{
    background-color:#777777;
    border:1px solid #FFFFFF;
    color:#FFCD19;
    cursor:pointer;
    font-size:13px;
    padding:5px;
}
/*----------------------------------------------------------------------------*/
.bigText
{
    font-size : 20px;
}
.orangeText
{
    color   :#FFCD19;
}
/*----------------------------------------------------------------------------*/
#search
{
    width : 125px ;
    margin: 5px 0px 5px 0px ;
}
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
.right
{
    float : right ;
}
/*----------------------------------------------------------------------------*/
#column1,#column3 {
    padding	: 0px;
    width	: 420px;
}
/*----------------------------------------------------------------------------*/
#column1 {
    float:left;
    margin-right:10px;

}
h2 {
    font-size: 1.4em;
    margin-top: 10px;
    padding: 5px 5px 5px 0;
    border-bottom: 1px solid #BEBFC3;
}
#column1 table{
    width : 95% ;
    padding : 5px 0px 5px 5px;
    border : 0px solid ;
    margin-left : 10px;
}
.width40{
    width : 40% ;
}

#column1 tr, #column1 td{
    border-right : 0px dashed orange;
    padding : 3px 10px ;
}

.borderRight{
    border-right:1px ;
}

/*----------------------------------------------------------------------------*/
#column3 {
    float:right;
    margin-right:30px;

}
h2 {
    font-size: 1.4em;
    margin-top: 10px;
    padding: 5px 5px 5px 0;
    border-bottom: 1px solid #BEBFC3;
}
/*----------------------------------------------------------------------------*/
#column3 img {
    border: 0px;
}
/*----------------------------------------------------------------------------*/
#column1 ul, #column3 ul {
    padding-left: 0px;
    margin: 0px;
}
/*----------------------------------------------------------------------------*/
#column1 li, #column3 li, li {
    list-style: none;
    font-size: 13px ;
}
/*----------------------------------------------------------------------------*/
a
{	
    text-decoration:none;
    color:#333333;
    /* color:rgb(255,52,51) ; */
    font-size : 11px ;
}
/*----------------------------------------------------------------------------*/
a:hover
{
    text-decoration:underline;
}
/*----------------------------------------------------------------------------*/
.boldText
{
    font-weight: 600 ;
}
/*----------------------------------------------------------------------------*/
#footer {
    clear:both;
    color:#333;
    font-weight:400;
    margin:0;
    padding:10px 10px 0px 10px;
    height:25px;

}
#footer *
{
    font-size : 11px ;
}
#footer a {
    color:#333333;;
    font-weight:bold;
}
#footer ul
{
    list-style: none ;
    padding : 5px 0px 5px 0px ;
}
#footer li
{
    padding-left : 8px;
}
/*----------------------------------------------------------------------------*/